//Footer
footer {
  margin-top: 2rem;
}
.footer-main {
  position: relative;
  background-color: $back-main;
}
.menu-border-top {
  position: relative;
  padding-top: size(22);
  border-top: 2px solid #ffffff;
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
  @media (max-width: 500px) {
	column-count: 1;
	column-gap: unset;
  }
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  position: relative;
	  @include foo-menu;
	  color: #ffffff !important;
	  padding-right: 20px;
	  transition: color .5s;
	}
	&:before {
	  position: absolute;
	  content: '>';
	  top: 6px;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  display: inline-block;
	  right: 0;
	}
  }
  .contact-list li {
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	a {
	  display: flex;
	  align-items: center;
	  padding-right: 0;
	}
	svg, img {
	  margin-left: 8px;
	  width: size(18);
	  margin-top: 6px;
	}
	&:before {
	  display: none;
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include base-text;
  color: #ffffff;
  margin-bottom: 15px;
}
.foo-form-wrap {
  padding: size(70) 0 size(40) 0;
}
.footer-container-menu {
  padding-top: 10px;
  padding-bottom: 80px;
}
#go-top {
  position: absolute;
  top: -4rem;
  right: size(100);
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  img {
	width: size(93);
	transition: fill .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  @media (max-width: 576px) {
	right: 50% !important;
	left: 50% !important;
	img {
	  width: size(53);
	}
  }
}
.to-top-text {
  color: $back-main;
  font-size: size(15);
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
