.car-search-wrap {
  border-radius: 15px;
  border: 2px solid $gold-main;
  background-color: #ffffff;
  padding: size(50) size(70);
  select {
	-webkit-appearance: none;
	background-image: url("../iconsall/form-select.png");
	background-position: 12px center;
	background-size: size(15);
	background-repeat: no-repeat;
  }
  input, select {
	height: size(56);
	border-radius: 10px !important;
	border: 1px solid $gold-main;
	background-color: #ffffff;
	padding: 5px size(16) 5px size(25);
	@include small-text;
	color: #000000;
	&::placeholder {
	  @include small-text;
	  color: #000000;
	}
  }
  .price-group {
	flex: 0 0 40%;
	max-width: 40%;
  }
  .col-xl {
	padding: 0 6px;
  }
  .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
	margin: 0 0 0 12px;
  }
  .btn-search {
	height: size(56);
	border-radius: 10px;
	background-color: #141414;
	@include small-text;
	color: #ffffff;
	text-align: center;
  }
}
//Forms
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
  margin-bottom: 11px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(23);
  background-position: calc(100% - 13px) center;
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 textarea {
  padding: size(16);
  height: size(126);
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-size: size(23);
  line-height: normal;
  background-image: url("../iconsall/form-select.png");
  background-position: size(14) center;
  padding-right: size(13);
  padding-left: size(42);
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
}
.pop-form-title {
  @include h4;
  font-weight: 700;
  margin-bottom: size(10);
  @media (max-width: 450px) {
	@include h5;
  }
}
.form-title, .form-subtitle {
  @include h3;
  color: #f9f9f9 !important;
  text-align: center;
  @media (max-width: 450px) {
	@include h5;
  }
}
.form-title {
  font-weight: 700;
}
.form-subtitle {
  font-weight: 300;
}
.pop-form-subtitle {
  @include h5;
  font-weight: 400;
  margin-bottom: size(23);
  @media (max-width: 450px) {
	@include h6;
  }
}
.pop-form-title, .pop-form-subtitle {
  text-align: center;
  color: #ffffff !important;
}
.float-form {
  position: fixed;
  top: 20%;
  z-index: 99959599599;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  &.show-float-form {
	right: size(100);
	opacity: 1;
	pointer-events: all;
	transform: translateX(0);
	@media (max-width: 576px) {
	  left: 15px;
	  right: 15px;
	}
	@media (max-width: 450px) {
	  left: 5px;
	  right: 5px;
	}
  }
}
.popup-form {
  width: 464px;
  @media (max-width: 576px) {
	width: 100%;
  }
  div.wpcf7 input {
	height: size(63);
	border-radius: size(23);
  }
  div.wpcf7 input[type="submit"] {
	border-radius: 31px 16px 16px 31px;
	border: 2px solid $gold-main;
	background-image: url("../iconsall/form-submit.png");
	background-position: 7px center;
	background-size: size(51);
	background-repeat: no-repeat;
	background-color: transparent;
	color: #ffffff;
	font-size: size(22);
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(20);
	padding: 5px size(20) 5px size(62);
	transition: background-position ease-out .5s;
	&:hover {
	  background-position: 3px center;
	}
  }
  @media (max-width: 450px) {
	div.wpcf7 input[type="submit"] {
	  background-image: none !important;
	  padding: 5px 20px;
	  border-radius: size(23);
	}
  }
}
.form-col-post, .popup-form {
  border-radius: 15px;
  background-color: #141414;
  padding: size(46) size(22) size(16) size(22);
  @media (max-width: 400px) {
	padding: size(46) size(15) size(16) size(15);
  }
}
.form-col-post {
  position: sticky;
  top: 0;
  z-index: 99999;
}
.pop-great {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9993;
  pointer-events: none;
  display: none;
  &.show-popup {
	display: block;
	pointer-events: all;
  }
}
.repeat-form-block {
  padding: size(46) 0 size(30) 0;
  background-color: $back-main;
}
.prod-form-title, .prod-form-subtitle {
  color: #f9f9f9;
  font-size: size(28);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.prod-form-subtitle {
  font-weight: 300;
}
