header {
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-height: size(100);
  padding: 5px 0;
  .hamburger {
	padding: 0;
	display: flex;
	margin-left: 15px;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: $gold-main !important;
  }
  &.fixed {
	.hide-on-front {
	  display: block !important;
	}
	&.front-header {
	  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
	  background-color: #ffffff;
	  padding: 0;
	}
	.header-home-transparent {
	  display: none !important;
	}
  }
  &.front-header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	box-shadow: unset;
	background-color: transparent;
	z-index: 999999;
	padding: size(32) 0 0 0;
	.hamburger {
	  margin-left: 0;
	}
  }
  @media (max-width: 992px) {
	.drop-menu {
	  display: none;
	}
	.hamburger {
	  display: none;
	}
  }
}
.header-home-transparent {
  position: relative;
  .tel-phone {
	color: #ffffff !important;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff !important;
  }
  @media (max-width: 992px) {
	.hamburger {
	  display: block;
	}
  }
  .header-tel-wrap {
	@media (max-width: 576px) {
	  display: flex;
	}
	@media (max-width: 450px) {
	 display: none;
	}
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(25);
  background-color: #ffffff;
  width: auto;
  z-index: 99999;
  top: calc(100% + 10px);
  min-width: 190px;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  @include d-center;
	  a {
		@include foo-menu;
		color: #141414 !important;
		font-weight: 400;
		text-align: center;
		font-style: normal;
		letter-spacing: normal;
		transition: color ease-out .5s;
		&:hover {
		  color: $gold-main !important;
		}
	  }
	}
  }
}
.hide-on-front {
  display: none !important;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li {
	  @include d-center;
	  padding: 0 15px;
	  @media (max-width: 1600px) {
		padding: 0 8px;
	  }
	  a{
		@include h6;
		color: #141414;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		transition: color ease-out .5s;
		@media (max-width: 1600px) and (min-width: 769px){
		  font-size: size(19);
		  line-height: size(22);
		}
		&:hover {
		  color: $gold-main;
		}
	  }
	}
  }
}
.logo {
  @include d-center;
}
header {
  .logo {
	img {
	  max-height: size(88);
	}
	@media (max-width: 1200px) {
	  img {
		max-height: size(48);
	  }
	}
	@media (max-width: 992px) {
	  margin: 0 50px;
	}
	@media (max-width: 576px) {
	  margin: 0;
	}
  }
}
.socials-fix {
  position: fixed;
  left: size(25);
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9999;
  .pop-trigger {
	cursor: pointer;
	img {
	  width: size(67);
	  @media (max-width: 768px) {
		width: size(47);
	  }
	}
  }
  @media (max-width: 768px) {
	left: 5px;
  }
}
.social-link {
  @include d-center;
  padding-left: 5%;
  margin-bottom: size(22);
  img {
	width: size(46);
	@media (max-width: 768px) {
	  width: size(30);
	}
  }
}
.header-tel-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	margin-left: 5px;
	width: size(22);
  }
  @media (max-width: 576px) {
	display: none;
  }
}
.tel-phone {
  font-size: size(24);
  line-height: size(26);
  @media (max-width: 1600px) {
	font-size: size(22);
	line-height: size(26);
  }
  @media (max-width: 1600px) {
	font-size: size(16);
	line-height: size(18);
  }
  padding: 0 5px;
  color: #141414;
  font-weight: 500;
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
}
