//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(36);
	height: size(24);
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	right: unset;
	left: 3rem;
  }
}
.arrows-slider-pro {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	right: unset;
	left: calc(50% - 2rem);
  }
  [dir="rtl"] .slick-prev {
	left: unset;
	right: calc(50% - 2rem);
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
	border-radius: 15px;
  }
  @media (max-width: 992px) {
	margin-top: 3rem;
  }
}
//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  &:hover {
	.post-inside-image img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.post-inside-image {
  width: 100%;
  @include d-center;
  position: relative;
  overflow: hidden;
  background-color: $gold-main;
  border-radius: 15px;
  margin-bottom: size(28);
  &:after {
	content: '';
	display: block;
	padding-bottom: 105%;
  }
  img {
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	position: absolute;
	transition: transform ease-out .5s;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.post-item-title {
  @include h4;
  color: $back-main;
  font-weight: 400;
  margin-bottom: size(12);
}
.post-col {
  margin-bottom: size(35);
}
.post-link {
  @include base-text;
  font-weight: 400;
  color: #000000 !important;
  text-align: center;
  background-image: url("../iconsall/arrow-link.png");
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: size(9);
  padding-left: 20px;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
.product-card {
  box-shadow: 1px 1px 13px rgba(7, 6, 6, 0.23);
  background-color: #ffffff;
  border-radius: 15px;
}
.product-card-image {
  border-radius: 15px 15px 0 0;
  margin-bottom: 0;
  &:after {
	padding-bottom: 81.31%;
  }
}
.product-card-content {
  flex-grow: 1;
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.card-title-wrap, .border-card {
  @include d-center;
  border-bottom: 2px solid rgba(68, 69, 69, 0.2);
}
.border-card {
  padding: size(10) 5px 0 5px;
  margin: 0;
  flex-grow: 1;
}
.info-card-item {
  margin-bottom: size(20);
  padding: 0 5px;
}
.small-card-info {
  color: #000000;
  font-size: size(15);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(15);
  text-align: center;
}
.info-card-icon {
  @include d-center;
  height: size(20);
  margin-bottom: 6px;
  img {
	max-height: 100%;
  }
}
.card-title-wrap {
  @include d-center;
  width: 100%;
  padding: size(13) 0;
}
.prod-card-title {
  color: #000000;
  font-size: size(22);
  line-height: size(25);
  font-weight: 500;
  text-align: center;
}
.price-card-info {
  display: flex;
  justify-content: space-between;
  padding: size(13) 5px;
}
//Reviews
.reviews-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.review-slide {
  padding: 20px 50px;
  @media (max-width: 1600px) and (min-width: 1200px){
	padding: 20px;
  }
  @media (max-width: 992px){
	padding: 20px;
  }
}
.review-item-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: size(20);
  border: 1px solid #ffffff;
  padding: 9px;
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  border-radius: size(20);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: size(70) size(25) size(50) size(25);
}
.rev-pop-trigger {
  width: size(22);
  height: size(22);
  border-radius: 50%;
  @include d-center;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: size(17);
  line-height: size(18);
  font-weight: 500;
  align-self: center;
  background-color: $back-main;
  margin-left: 9%;
  @media (max-width: 1200px) {
	margin-left: 3%;
  }
}
.quote {
  position: absolute;
  z-index: 90;
  width: size(41);
}
.quote-top {
  top: -20px;
  left: 11px;
}
.quote-bottom {
  bottom: -20px;
  right: 11px;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.review-prev-content {
  flex-grow: 1;
}
.review-prev {
  @include base-text;
  margin-bottom: size(19);
  color: #4d4d4c;
  text-align: center;
}
.review-title {
  color: #39393a;
  font-size: size(22);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  margin-bottom: size(16);
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(30);
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: size(30);
  background-color: #ffffff;
  border: 1px solid #000000;
  align-items: flex-start;
  padding: 2rem;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: $gold-main;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//Accordion (product)
.accordion-product {
  //display: flex;
  //justify-content: flex-start;
  //align-items: center;
  .btn {
	padding: 0;
	border: none !important;
  }
}
.product-info {
  .card {
	border: none !important;
	border-radius: 0 !important;
	padding: 0.5rem 0;
	background-color: transparent;
  }
  .text-output p {
	margin-bottom: 0;
  }
}
.product-info-title {
  @include h6;
  color: $back-main;
  font-size: size(24);
  line-height: size(27);
  font-weight: 500;
}
.accordion-symbol {
  color: $gold-main;
  @include h6;
  font-weight: 500;
  margin-right: 12px;
  &.hide {
	display: none;
  }
  &.show {
	display: block;
  }
}
.button-prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.minus-icon {
  display: none;
}
.show-icon {
  display: block;
}
.hide-icon {
  display: none;
}
.prod-images-col {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 2rem);
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
}
.gallery-list {
  display: flex !important;
  align-items: stretch !important;
}
.big-slider-item {
  position: relative;
  @include d-center;
  @include back-img;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 12px;
  border-radius: size(15);
  &:after {
	content: '';
	display: block;
	padding-bottom: 74.4%;
  }
}
.thumb-item {
  @include d-center;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  @include back-img;
  border-radius: size(15);
  &:after {
	display: block;
	content: '';
	padding-bottom: 80%;
  }
}
.slider-nav {
  margin-top: 7px;
}
