/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 17px;
  }
}
@media (min-width: 1920px) {
  html{
	font-size: 20px;
  }
  .container {
	max-width: 75%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 18px;
  }
  .car-search-wrap .price-group {
	flex: 0 0 50%;
	max-width: 50%;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .foo-links-menu {
	order: 3;
  }
  .post-content-col {
	margin-bottom: 3rem;
  }
  .title-desktop {
	display: none !important;
  }
  .title-mobile {
	display: flex;
  }
  .product-gallery-col {
	order: -1;
	margin-bottom: 5rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .pad-0-col {
	padding: 0;
  }
  .product-body {
	.small-card-info {
	  font-size: size(12);
	  line-height: size(13);
	}
  }
  .car-search-wrap .price-group {
	flex: 0 0 100%;
	max-width: 100%;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 950px) {

}
