@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header";
@import "footer";
@import "partials";
@import "forms";


body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic stuff
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $back-main;
	font-weight: 500;
	margin-bottom: 19px;
  }
  h1 {
	@include h1-1;
  }
  h2 {
	@include h1;
  }
  h3 {
	@include h2;
  }
  h4 {
	@include h3;
  }
  h5 {
	@include h4;
  }
  h6 {
	@include h5;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  p {
	margin-bottom: size(35);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.base-text {
  @include base-text;
}
.block-title {
  @include h1;
  text-align: center;
  color: $back-main;
  margin-bottom: size(45);
}
.base-link {
  @include d-center;
  @include base-text;
  text-align: center;
  color: $back-main !important;
  font-weight: 400;
  height: size(46);
  border-radius: 10px;
  border: 1px solid $gold-main;
  background-color: #ffffff;
  padding: size(10) size(52);
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $gold-main;
  }
}
.more-link {
  cursor: pointer;
  &.hide {
	display: none;
  }
}
.take-json {
  display: none;
}
.home-main-block {
  position: relative;
  .slick-slider .slick-track, .slick-slider .slick-list {
	height: 100%;
  }
  .slide-main {
	@include back-img;
	height: 100vh;
	background-color: $gold-main;
  }
  .slide-video {
	overflow: hidden;
	height: 100vh;
	@include d-center;
	position: relative;
	//height: 100%;
	video {
	  position: absolute;
	  min-height: 100%;
	  min-width: 100%;
	  object-fit: cover !important;
	}
  }
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: 0;
	@include d-center;
	flex-direction: column;
	height: 100%;
	width: auto;
	right: 28px;
	z-index: 9999;
	@media (max-width: 576px) {
	  justify-content: flex-end;
	  padding-bottom: 100px;
	}
  }
  ul.slick-dots {
	li {
	  margin: 9px 0;
	  button {
		@include d-center;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		border: 2px solid #ffffff;
		background-color: transparent;
		opacity: 1 !important;
		@media (max-width: 650px) {
		  width: 19px;
		  height: 19px;
		}
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: #ffffff;
  }
}
//Contact page
.contact-item, .why-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-item {
  margin-bottom: 18px;
}
.why-item {
  margin-bottom: 40px;
  .base-text {
	color: $back-main;
  }
}
.contact-icon-wrap, .why-icon {
  @include d-center;
  border: 1px solid #000000;
  background-color: #ffffff;
  img {
	max-height: 100%;
  }
}
.contact-icon-wrap {
  width: size(89);
  min-width: size(89);
  height: size(86);
  padding: 19px;
  border-radius: size(23);
  margin-left: size(60);
  @media (max-width: 1600px) {
	margin-left: 30px;
  }
  @media (max-width: 768px) {
	margin-left: 18px;
  }
}
.why-icon {
  width: size(73);
  min-width: size(73);
  height: size(73);
  padding: 8px;
  border-radius: size(15);
  margin-left: size(30);
}
.why-title {
  color: #d8ae44;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  margin-bottom: size(13);
}
.contact-info {
  @include base-text;
  color: #787878;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
}
.contact-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-info-title {
  color: #031617;
  font-weight: 400;
  font-size: size(24);
  line-height: size(30);
}
.map-image {
  img {
	width: 100%;
	border-radius: 15px;
  }
}
.contact-form-wrap {
  background-color: #141414;
  border-radius: 15px;
  padding: size(42) size(58) size(10) size(58);
  @media (max-width: 992px) {
	margin-top: 2rem;
  }
  @media (max-width: 768px) {
	padding: size(42) size(28) size(10) size(28);
  }
  @media (max-width: 450px) {
	padding: size(42) size(18) size(10) size(18);
  }
}
//Products home
.slider-products-block {
  padding-top: size(55);
  padding-bottom: size(100);
  .prod-col {
	flex: 0 0 100% !important;
	max-width: 100% !important;
	height: 100%;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.search-home {
  position: relative;
  z-index: 9;
  .car-search-wrap {
	margin-top: -100px;
  }
}
.home-services {
  @include back-img;
  padding: size(60) 0;
  background-image: url("../img/service-back.png");
}
.service-image {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-img;
  margin-bottom: size(30);
  border-radius: 15px;
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 118.33%;
  }
  img {
	min-width: 100%;
	min-height: 100%;
	max-width: unset;
	position: absolute;
	transition: transform ease-out .5s;
  }
  &:hover {
	img {
	  transform: scale(1.1, 1.1);
	}
  }
}
.service-title {
  @include h3;
  color: #141414;
  font-weight: 400;
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $gold-main;
  }
}
.about-block {
  padding: size(60) 0;
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  color: #1c1c1c;
	}
	p {
	  color: $back-main;
	}
  }
}
.posts-home-block {
  padding: size(50) 0;
  background-color: #f6f4f4;
  .base-link {
	background-color: transparent;
	margin-top: 2rem;
  }
  .base-output {
	a {
	  color: $back-main;
	  transition: color ease-out .5s;
	  &:hover {
		color: $gold-main;
	  }
	}
  }
  .col-post-content {
	padding-top: size(70);
	padding-bottom: size(70);
  }
}
.row-tips:nth-child(odd) {
  flex-direction: row-reverse;
}
.post-link-image {
  border-radius: 15px;
  overflow: hidden;
  @include back-img;
  img {
	width: 100%;
  }
  @media (max-width: 992px) {
	height: 450px;
  }
}
.benefits-block {
  padding: size(53) 0;
}
.benefits-back {
  background-color: #f6f4f4;
}
.reviews-block {
  padding: size(85) size(60);
  background-image: url("../img/reviews-back.png");
  @include back-img;
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right-white.png");
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left-white.png");
  }
  .block-title {
	color: #ffffff;
  }
  @media (max-width: 576px) {
	padding: size(85) 0 size(90) 0;
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: calc(100% + 2rem);
	}
	[dir="rtl"] .slick-prev {
	  right: calc(50% - 3rem);
	  left: unset;
	}
	[dir="rtl"] .slick-next {
	  left: calc(50% - 3rem);
	  right: unset;
	}
  }
}
.post-main-img {
  border-radius: 15px;
  margin-bottom: size(50);
  width: 100%;
}
.share-text {
  color: #838383;
  font-size: size(23);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
  margin-left: 9px;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-share-link {
  @include d-center;
  margin: 0 6px;
  width: size(35);
}
.products-results .prod-col {
  margin-bottom: size(50);
}
//Product
.product-body {
  margin-bottom: 3rem;
  [dir="rtl"] .slick-prev {
	right: 5px;
  }
  [dir="rtl"] .slick-next {
	left: 5px;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 2rem);
  }
}
.title-mobile {
  display: none;
}
.partners-line {
  padding: size(44) 0;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .logo-slide-item {
	display: flex;
  }
}
.logo-car-col {
  @include d-center;
  padding: 0 size(15);
  height: 100%;
  img {
	max-height: size(104);
  }
}
.prod-link-col {
  border-left: 1px solid #626262;
  &:last-child {
	border-left: none;
  }
}
.prod-block-link {
  @include h6;
  color: #626262;
  font-weight: 300;
  transition: color, font-weight ease-out .5s;
  &:hover {
	color: #141414;
	font-weight: 500;
  }
}
.homepage-main-title {
  @include h1-1;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: size(11);
}
.homepage-main-link-col {
  border-left: 1px solid #ffffff;
  &:last-child {
	border-left: none;
  }
}
.homepage-main-link {
  @include h1;
  color: #ffffff !important;
  font-weight: 300;
}
.main-overlay {
  @include overlay;
  background-image: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.45;
  z-index: 8;
}
.main-content-block {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 7% 0;
  @include d-center;
}

@import "responsive";
